body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    background-color: #007765;
    height: 7vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.logo{
    height: 60%;
}
nav{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
}

.Jumbotron{
    text-align: center;
    font-size: 48px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 7vh;
    padding-bottom: 7vh;
    margin: 0;
    background-image: url("img/headerblock.svg");
    background-size: cover;
    background-position: center;
}

.description{
    width: 50vw;
    margin: auto;
}

h2{
    color: #007765;
    font-size: 48px;
    text-align: center;
}

.description p {
    font-size: 24px;
    text-align: justify;
}

.hero{
    margin: auto;
    color: #FFFFFF;
    padding-top: 7vh;
    padding-bottom: 7vh;
    background-image: url("img/heroblock.svg");
    background-size: cover;
    background-position: center;
}

.stringHero{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.stringHero p{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

.news {
    margin: auto;
    font-size: 24px;
    text-align: justify;
}

.Coin{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.button_1 {
    height: 100px;
    padding: 0;
    margin: 0;
    border-radius: 56.5px;
    border-style: none;
    box-shadow: 5px 5px 5px #007765;

    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.button_1:hover {
    box-shadow: 5px 5px 1px gray;
}

.button_1:active {
    box-shadow: none;
    transform: translateY(5px) translateX(5px);
}

.Coin p{
    margin-top: 0;
    padding-left: 40px;
}
.PPC p{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    text-align: justify;
}

.Team {
    margin: 0;
    padding-top: 4vh;
    background-color: #EEEEEE;
    text-align: center;
}

.cardsTeam {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardMember {
    margin: 20px 30px 20px 20px;
}

.Name {
    color: #007765;
    font-weight: bold;
    font-size: 24px;
}

.Role {
    font-style: italic;
    font-size: 18px;
}
footer {
    background-color: #333333;
}

.footerSection {
    margin: 0 auto;
    padding: 20px;
    height: 15vh;
    width: 30vw;
    text-align: center;
}

.footerSection p {
    color: #FFFFFF;
    font-style: italic;
    font-size: 18px;
}

